:root {
  --backgroud-color-primary: #005482;
  --form-color: #EAEAEA;
  --text-primary-color: #3E3E3E;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100%;
  min-width: 400px;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  min-width: 400px;
  min-height: 100vh;
  background-color: var(--backgroud-color-primary);
}

.container {
  max-width: 1000px;
}

.card__p {
  background-color: var(--form-color);
  border: 1px solid black;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .75);
  margin-top: 30px;
}

.card__c {
  width: 72% !important;
  height: 700px !important;
}

.card-header {
  background-color: var(--form-color);
}

.card-header img {
  width: 55% !important;
  padding: 10px;
}

.card .card-title {
  color: var(--text-primary-color)!important;
}

.card .card-body form {
  margin-top: 1.5rem;
}

.card form .label__p {
  color: #666666;
  font-size: 1.2rem;
  font-weight: 300;
}

.card form .input__p {
  width: 100%;
  height: 30px;
}

.card form .btn__p {
  width: 100%;
  font-size: 1.2rem;
}

.card .card-footer {
  background-color: var(--form-color);
}

.card .card-footer p {
  font-size: .7rem;
}

.card .card-footer p span {
  color: black;
  font-weight: bold;
}

.card .card-footer {
  margin-top: 75px;
}

/* ************************* NAVBAR ********************************* */

.navbar__p {
  background-color: #DDDDDD;
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.img__pr {
  width: 100%;
  max-width: 35%;
}


/* ************************* PRINCIPAL PAGE ********************************* */

.container__pr {
  background-color: #FFFFFF;
}

.row__pr {
  margin-top: 50px;
}

.card-body__pr {
  width: 92%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: inset 0 0 3px 0 black;
}

.card-title__pr {
  font-size: .8rem;
}

.card-text__pr {
  font-size: .75rem;
}

/* ************************* PERFIL PAGE ********************************* */

.title__pr {
  margin-top: 20px;
  background-color: #B6B6B6;
  font-size: 1.2rem;
  font-weight: bolder;
background-color: #5b6467;
background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}

.search__icon {
  background-color: red;
}

@media screen and (min-width: 996px) {
  .card{
    width: 100% !important;
  }
}

@media screen and (min-width: 768px) {
  form .input__p{
    width: 40% !important;
  }

  form .btn__p{
    width: 40% !important;
  }

  .card-header img {
    width: 80%;
  }
}

@media screen and (min-width: 375px) {
  .card {
    width: 85% !important;
  }
}
